{% extends 'base.html' %}

{% block contenido %}

{% load static %}

<header class="hero">
	<nav class="menu">
		<a href="{% url 'index' %}">Inicio</a>
        <a href="{% url 'nosotros' %}">Nosotros</a>
        <a href="">Presentación</a>
        <a href="{% url 'contacto' %}">Contactanos</a>
    </nav>
    <section>
    	<div class="textos-hero">
    		<h1>¿Quieres saber más de nosotras?</h1>
    		<p>Hecha un vistazo</p>
    		<a href="#¿Quienes Somos?">Conocenos</a>
    	</div>
    	<div class="svg-hero" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </section>
</header>

<section id="¿Quienes Somos?" class="cards contenedor">
	<h2 class="titulo">¿Quienes Somos?</h2>
    <br><br>
    <div class="content-cards">
    	<article class="card">
    		<img src="{% static 'assets/media/img/dayhana.jpeg' %}" alt="Dayhana Vélez" style="height: 80px; overflow: hidden"  style="height: 100%; width: 100%">
    		<h3>Dayhana Vélez Uribe</h3>
    		<p>Tengo 18 años y en la actualidad soy estudiante de análisis y desarrollo de sistemas de información. Este es el proyecto final en el que con mucho empeño participé.</p>
    	</article>
    	<article class="card">
    		<img src="{% static 'assets/media/img/camila.jpg' %}" alt="Camila Zuluaga" style="height: 80px; overflow: hidden" style="height: 100%; width: 100%">
    		<h3>Maria Camila Zuluaga</h3>
    		<p>Tengo 18 años de edad y soy una estuadiante de análisis y desarrollo de sistemas de información. Esta es una muestra del trabajo y empeño de nuestro proyecto final.</p>
    	</article>
    </div>
</section>

{% endblock %} 
